body{
	background-color: lightblue;
	
}
form,p{
	padding: 1%;
}
h1{
	text-align: center;
	border-bottom: 1px solid blue;
	padding: 5px;
}
h1:hover{
	font-color: blue;
}

.text-block{
	#background-color: lightblue;
	width: 60%;
	border: 1px solid black;
}
.text-block:hover{
	background-color: red;
}
form{
	border: 1px solid gray;
}
td{
	border: 1px solid black;
	padding: 5px;
}